body {
    margin: 0;
    background-color: black;
    color: white;
}

a, a:visited {
    text-decoration: none;
    color: white;
    margin: 5px;
    padding: 5px;
}

#signature > a:hover {
    background-color: white;
    color: black;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    top: 0;
    height: 100vh;
    width: 100vw;
}
#canvas-container {
    border: none;
}

#signature {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 0;
    left: 0;
    border: none;
    padding: 1em;
} 

#links {
    bottom: 0;
    padding: 1em;
    position: absolute;
    right: 0;
}

#question, #mishou {
    padding: 0.5em;
}